atomicwrites==1.3.0
attrs==18.2.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
codecov==2.0.15
coverage==4.5.2
Flask==1.0.2
funcsigs==1.0.2
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
-e git+https://github.com/SolbiatiAlessandro/lessand.ro.git@49d490e82518a5d40c17ba07e802cc8c01fa3b1e#egg=lessandro
MarkupSafe==1.1.0
more-itertools==5.0.0
pathlib2==2.3.3
pluggy==0.8.1
psycopg2-binary==2.7.7
py==1.7.0
pytest==4.2.1
pytest-cov==2.6.1
requests==2.21.0
scandir==1.9.0
six==1.12.0
urllib3==1.24.1
Werkzeug==0.14.1
