{% extends 'base.html' %}

{% block header %}
  {% if g.user %}
  <p><a class="action" href="{{ url_for('blog.create') }}">Write a new article</a></p>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
  <article>
    <div class= "article_title">

		<h1 class="title"><a href="{{ url_for('blog.post', id=post['id']) }}">{{ post['title'] }}</a></h1>

        {% if g.user['id'] == post['author_id'] %}
			<p><a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a></p>
        {% endif %}

    </div>
	<div class="article_text">

    {{ post['body']|safe }}
	
	<a class="inside action" href="{{ url_for('blog.post', id=post['id']) }}"> read more..</a></div>
	</div>
  </article>

    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
