<!DOCTYPE html>
<html>
<head>
  <title>lessand.ro</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
	<div class="personal">
		<ul style="list-style-type:none;padding:0;width: 70%;margin-left: 15%;">
			<li class="personal-description">
				<img class="head" src="{{ url_for('static', filename='head.jpeg') }}">
				<div style="text-align:left;font-size:12px;">
				"I love playing jazz, reading Chinese, and occasionaly write some Python."
				</div>
			</li>
			<li class="personal-description">Read about Alessandro</li>
			<li class="personal-description">or ping him at <b>hello@lessand.ro</b></li>
		</ul>
		<div class="socialbox">
			<div class="social">
				<a href="https://twitter.com/lessand_ro" class="fab fa-twitter"></a>
				<a href="https://www.kaggle.com/alessandrosolbiati" class="fab fa-kaggle"></a>
				<a href="https://stackoverflow.com/users/7067655/alessandro-solbiati" class="fab fa-stack-overflow"></a>
				<a href="https://www.quora.com/profile/Alessandro-Solbiati" class="fab fa-quora"></a>
			</div>
			<div class="social">
				<a href="https://www.linkedin.com/in/solbiatialessandro/" class="fab fa-linkedin"></a>
				<a href="https://github.com/SolbiatiAlessandro" class="fab fa-github"></a>
				<a href="https://www.facebook.com/alessandro.solbiati.7" class="fab fa-facebook"></a>
				<a href="https://www.youtube.com/channel/UC10ci77Vw3J0ukYsczYti8w" class="fab fa-youtube"></a>
			</div>
		</div>
	</div>
	<div class="blog">
		<a href="#" class="page-title">lessand.ro</a>
		  <header>
			{% block header %}{% endblock %}
		  </header>
		  {% for message in get_flashed_messages() %}
			<div class="flash">{{ message }}</div>
		  {% endfor %}
		  {% block content %}{% endblock %}
	</div>
</body>
</html>
